.game-container {
    display: inline-flex;
    margin: 15px 15px 15px 15px;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    border: 5px black solid;
}

.game-body{
    display: inline;
    margin-top: 145px;
    background-color: rgba(109, 109, 109, 0.753);
    color: white;
    width: 160px;
}




