.game-container {
    display: inline-flex;
    margin: 15px 15px 15px 15px;
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    border: 5px black solid;
    background-repeat: no-repeat;
}

.game-body{
    display: inline;
    margin-top: 160px;
    background-color: rgba(109, 109, 109, 0.753);
    color: white;
    width: 250px;
}

.container {
    display: inline-flex;
    min-width: 450px;
}

.tipcard {
    border: 2px black solid;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin: 7px;
}
